################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Console_Space_Invaders/FileContentIndex
/.vs/Console_Space_Invaders/v17/.suo
/.vs/ProjectEvaluation/console_space_invaders.metadata.v5.2
/.vs/ProjectEvaluation/console_space_invaders.projects.v5.2
