################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Console_Space_Invaders/FileContentIndex/fceb1697-c859-4bd2-8bf4-c0bc194728cf.vsidx
/.vs/Console_Space_Invaders/FileContentIndex/9b8c2dea-216f-4647-8e4e-f958b4d6eaa0.vsidx
/.vs/Console_Space_Invaders/v17/.suo
/.vs/Console_Space_Invaders/FileContentIndex
